*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{ 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url("./resources/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0 2%;
    position: relative;

}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
nav h1{
    font-size: 45px;
    cursor: default;/*need a icon of mine*/
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    padding: 0 3rem 0 3rem;
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: #c9c9c9;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    border-radius: 24px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #c9c9c9;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.text-box{
    color: white;
    position: absolute;
    bottom: 8%;
    padding: 20px;
}
.text-box p{
    font-size: 3.5rem;
    font-weight: 600px;
}
.text-box h1{
    font-size: 8rem;
    line-height: 120px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url("./resources/back.png"); 
     -webkit-background-clip: text; 
     background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.menuTog{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 30px;
    height: 30px;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: none;
}
.menuTog span{
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 2px;
    transition: 1s;
}
.menuTog span:nth-child(1){
    width: 15px;
    transform: translateY(-10px);
    transition-delay: .125s;
}
.menuTog.menuActive span:nth-child(1){
    background-color: #000;
    width: 30px;
    transform: rotate(45deg);
}
.menuTog.menuActive span:nth-child(2){
    opacity: 0;
}
.menuTog span:nth-child(3){
    width: 10px;
    transform: translateY(10px);
}
.menuTog.menuActive span:nth-child(3){
    background-color: #000;
    width: 30px;
    transform: rotate(315deg);
    transition-delay: .125s;
}
.menu{
    position: absolute;
    background-color: #fff;
    color: black;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: 1s; 
    clip-path: circle(0px at 100% 0%);
    -webkit-clip-path: circle(10px at );
}
.menu span{
    padding: 1.5rem;
}
.menu.menuActive{
    clip-path: circle(1000px at 100% 0%);
    -webkit-clip-path: circle(1000px at 100% 0%);
} 





@media only screen and (min-width: 900px) {
    /* .social-icons{
        position: absolute;
        bottom: 5px; 
        margin-left: 50%;
        transform: translateX(-50%);
    } */
    /* .social-icons img{
        width: 25px;
        bottom: 10px;
        margin: 25px 15px;
    } */
    .social-icons{
        position: absolute;
        right: 5%;
        bottom: 8%; 
        max-width: 100vw;
    }
    .social-icons img{
        width: 25px;
        display: block;
        margin: 25px 5px; 
    }
}
@media (max-width: 900px){
    .social-icons{
        width: 150px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        display: flex;
        bottom: .25rem;
        justify-content: space-between;
    }
    .text-box h1{
        font-size: 7rem;
    }
    .text-box p{
        font-size: 2.5rem;
    }
}
@media (max-width: 600px){
    nav{
       display: none;
    }
    .menuTog{
        display: flex;
    }
    .text-box p{
        font-size: 1.5rem;
    }
    .text-box h1{
        font-size: 5rem;
    }
}